<mat-accordion class="sticky top-0">
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title class="m-8 align-middle">
        <mat-form-field class="scale-75">
          <input
            class="w-32"
            matInput
            [value]="(currentDeck$ | async).name"
            (keyup)="editDeckName($event)"
            (click)="$event.stopPropagation()"
            (keydown.Space)="$event.stopImmediatePropagation()"
          />
        </mat-form-field>
      </mat-panel-title>
      <mat-panel-description>
        quantidade de types únicos: {{ typesNum }} | número de cartas:
        {{ (currentDeck$ | async)?.cards?.length }} |
        <button mat-stroked-button class="mx-4" (click)="onSubmit()">
          Salvar
        </button>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-cards-list
      [hasPaginator]="false"
      [list]="(currentDeck$ | async)?.cards"
      [emptyListMessage]="'Baralho vazio!'"
      [displayAddButton]="false"
    ></app-cards-list>
  </mat-expansion-panel>
</mat-accordion>

<mat-form-field class="flex flex-row m-4">
  <mat-icon class="text-black-600 inline align-middle"> search </mat-icon>
  <input matInput placeholder="Ex. togepi" (keyup)="search($event)" />
</mat-form-field>

<app-loading-box [loadingSize]="50" class="place-content-center">
  <app-cards-list
    [hasPaginator]="true"
    [list]="searchedCardList"
    [emptyListMessage]="'Não foi encontrado nenhum pokémon com o termo buscado'"
    [displayRemoveButton]="false"
  ></app-cards-list>
</app-loading-box>
