<mat-paginator
  *ngIf="hasPaginator"
  [length]="listSize"
  [pageSize]="8"
  (page)="getPaginatorData($event)"
  [pageSizeOptions]="[4, 8]"
/>

<div class="flex items-center justify-normal flex-wrap">
  <app-card
    *ngFor="let card of list | slice : lowLimit : highLimit"
    [card]="card"
    [displayAddButton]="displayAddButton"
    [displayRemoveButton]="displayRemoveButton"
    (addEvent)="addCard(card)"
    (removeEvent)="removeCard(card)"
  >
  </app-card>
  <span *ngIf="listSize === 0">
    {{ emptyListMessage }}
  </span>
</div>
